{% extends 'temp/devoteeindex.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title>PROFILE</title>
</head>
{#<link rel="stylesheet" href="style.css">#}
<body>
<center>
	<h1>YOUR PROFILES</h1>
	<form method="post">
        {% csrf_token %}
		<table border="3" >
			<tr>
				<td>Full Name</td>
				<td><input type="text" name="name" value="{{ t.uname }}"></td>

			<tr>
				<td>Address</td>
				<td><input type="text" name="ads" value="{{ t.address}}"></td>

			</tr>
			<tr>
				<td>Date of Birth</td>
				<td><input type="Date" name="dob" value="{{ t.dob }}"></td>

			</tr>
			<tr>
				<td>email</td>
				<td><input type="text" name="email" value="{{ t.email }}"></td>

			</tr>
			<tr>
				<td>Phone Number</td>
				<td><input type="text" name="Phone" size="10" value="{{ t.phone }}"></td>

			</tr>
			<tr>
				<td>Star</td>
				<td><select name="str">
                        <option value="Aswathi">Aswathi</option>
                        <option value="Bharani">Bharani</option>
                        <option value="Kaarthika">Kaarthika</option>
                        <option value="Rohini">Rohini</option>
                        <option value="Makeeram">Makeeram</option>
                        <option value="Thiruvathira">Thiruvathira</option>
                        <option value="Punartham">Punartham</option>
                        <option value="Pooyam">Pooyam</option>
                        <option value="Aayilyam">Ayilyam</option>
                        <option value="Makam">Makam</option>
                        <option value="Pooram">Pooram</option>
                        <option value="Uthram">Uthram</option>
                        <option value="Atham">Atham</option>
                        <option value="Chithira">Chithira</option>
                        <option value="Chothi">Chothi</option>
                        <option value="Visaakham">Visaakham</option>
                        <option value="Anizham">Anizham</option>
                        <option value="Thrikketta">Thrikketta</option>
                        <option value="Moolam">Moolam</option>
                        <option value="Pooraatam">Pooraatam</option>
                        <option value="Uthraatam">Uthraatam</option>
                        <option value="Thiruvonam">Thiruvonam</option>
                        <option value="Avittam">Avittam</option>
                        <option value="Chathayam">Chathayam</option>
                        <option value="Pooratathi">Pooratathi</option>
                        <option value="Uthrattaathi">Uthrattathi</option>
                        <option value="Revathi">Revathi</option>



                    </select></td>


			</tr>
			<tr>
				<td>&#160</td>
				<td><input type="submit" ></td>

			</tr>

		</table>
	</form>
</div>
</center>

</body>
</html>
{% endblock %}